.header-bar
{
  height: 70px;
  background-color: rgba(255,0,0,0.5);
}

  #logo
  {
    position: absolute;
    margin-left: 30px;
    margin-top: 25px;
  }

  .bar-opt
  {
    float:right;
    margin-right: 35px;
    margin-top: 25px;
  }
    #opt-header
    {
      text-decoration: none;
      margin-left: 8px;
    }
