header
{
  height: 450px;
  /*background: url(../includes/imgs/banner.jpg) center center;
  background-size: cover;
  */
  background-color: darkgrey;
}

#textao
{
  text-align: center;
  margin-top: 150px;
  font-size: 4em;
}

